# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore all .exe files
*.exe
# C/C++ compiled binary files
*.out        # custom Linux binaries
*.o          # object files
*.obj        # Windows object files (optional)
a.out        # default Linux output
*.exe        # if manually named with .exe

# Dependency and build system files
*.gch        # precompiled headers
*.so         # shared libraries
*.dll        # Windows dynamic link libraries
*.a          # static libraries
*.lib        # Windows static libraries
